@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import 'selector.css';
:root {
   --primary-h: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
   --primary-v: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
   --dark1: hsl(232, 13%, 33%);
   --dark2: hsl(233, 13%, 49%);
   --light1: hsl(234, 14%, 74%);
   --light2: hsl(240, 78%, 98%);
   --darkblue: hsl(237, 63%, 64%);
}

h1 {
   font-size: 2rem;
   color: var(--dark2);
   margin: 0;
}
h2 {
   color: var(--dark2);
   font-size: 1.2rem;
   margin: 0;
}
h3 {
   color: var(--dark1);
   font-size: 4.5rem;
   margin: 0;
}
h3::before {
   content: "$";
   font-size: 2.5rem;
   vertical-align: 20%;
}
p {
   color: var(--dark2);
   margin: 0;
}
button {
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 0.08rem;
   font-size: 0.8rem;
   cursor: pointer;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 15px;
   margin: 0;
   background: var(--light2) url(./images/bg-top.svg) top right no-repeat;
}
body * {
   user-select: none;
}
main {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 0 1.5rem 5rem;
}

.pricing {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
   margin: 3.5rem 0 4.5rem;
}
.plan-duration {
   color:var(--light1);
}
.selector-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
}
.price-card-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.price-card {
   background: white;
   padding: 2rem;
   border-radius: 0.8rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.price-card:last-child {
   box-shadow: 0 2rem 2rem #8883;
}
.hidden {
   display: none;
}
.price-annual, .price-month {
   width: 17.2rem;
}
.plan-benefit-container {
   --divider: 1.5px solid #ccc6;
   display: flex;
   flex-direction: column;
}
.plan-benefit {
   padding: 1rem 0;
   border-bottom: var(--divider);
}
.plan-benefit:first-child {
   border-top: var(--divider);
}
.learn-more {
   background: var(--primary-h);
   border: none;
   padding: 0.9rem 0;
   margin-top: 0.5rem;
   border-radius: 0.5rem;
   color: var(--light2);
}
.featured {
   background: var(--primary-v);
}
.featured h2, .featured h3, .featured p {
   color: var(--light2);
}
.featured button {
   background: var(--light2);
   color: var(--darkblue);
}

