@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
   --primary-h: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
   --primary-v: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
   --dark1: hsl(232, 13%, 33%);
   --dark2: hsl(233, 13%, 49%);
   --light1: hsl(234, 14%, 74%);
   --light2: hsl(240, 78%, 98%);
}

body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 15px;
}


/* Begin Selector Code */
.selector {
   --height: 2rem;
   --width: calc(var(--height) * 1.8);
   --border-radius: calc(var(--height) / 2);

   display: inline-block;
   cursor: pointer;
}
.selector__input {
   display: none;
}
.selector__object {
   position: relative;
   width: var(--width);
   height: var(--height);
   border-radius: var(--border-radius);
   background: var(--primary-h);
   transition: 300ms;
}
.selector__object:hover {
   opacity: 80%;
}
.selector__object::after {
   content: "";
   position: absolute;
   top: calc(var(--height) * 0.15);
   left: calc(var(--height) * 0.15);
   height: calc(var(--height) * 0.7);
   width: calc(var(--height) * 0.7);
   background: white;
   border-radius: var(--border-radius);
   transition: 400ms;
}
.selector__input:checked ~ .selector__object::after {
   transform: translateX(calc(var(--width) * 0.44));
}
/* End Selector Code */
