@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import 'selector.css';
:root {
   --primary-h: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
   --primary-v: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
   --dark1: hsl(232, 13%, 33%);
   --dark2: hsl(233, 13%, 49%);
   --light1: hsl(234, 14%, 74%);
   --light2: hsl(240, 78%, 98%);
}

h1 {
   color: var(--dark2);
   margin: 0;
}
h2 {
   color: var(--dark2);
   font-size: 1.1rem;
}
h3 {
   color: var(--dark1);
   font-size: 4.5rem;
}
h3::before {
   content: "$";
   font-size: 2.5rem;
   vertical-align: 20%;
}
p {
   color: var(--dark2);
}


body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 15px;
   margin: 0;
   background: url(./images/bg-top.svg) 430% -3% no-repeat;
}
main {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
padding: 0 1.5rem;
}

.pricing {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin: 3.5rem 0 4.5rem;
}
.plan-duration {
   color:var(--light1);
}
.selector-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}



